include /layouts/main.pug

p(class="bg-gray-300 font-light !font-bold p-8") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, mollitia magnam. Officia porro provident a eius expedita sequi odit vitae commodi alias tempora? Corrupti suscipit vero facere fuga unde obcaecati.
button Button